#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Warp Status
Exec=~/.local/share/applications/localScript/warp-cli_Status.sh
Icon=zero-trust-orange
